@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add an Machine</h4>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br />
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br />
  <label for="status">Status</label>
  <select name="status" id="status">
    <option value="operational">Operational</option>
    <option value="malfunctioning">Malfunctioning</option>
    <option value="inRepair">In for Repairs</option>
  </select>
  <br />
  <input type="submit" value="add to system" />
}